@font-face {
    font-family: 'nunito';
    src: url('fonts/Nunito/static/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway/static/Raleway-Regular.ttf');
}

p, label, a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    font-family: nunito;
    vertical-align:baseline;
    color:white;
} 

h1, h2, h3, h4 {
    font-family: nunito;
    color: white;
}

a:hover{
    color: rgb(181, 248, 250);
}

div {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    font-family: raleway;
    vertical-align:baseline
}

body{
    background-image: url('../assets/images/background.png');
    background-size: cover;
}

input{
    font-family: raleway;
}